version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Ecommerce-api
    ports:
      - "8084:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - ecommerce-network

  db:
    image: mysql:8.0
    container_name: Ecommerce-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root      
      MYSQL_DATABASE: ecommerce      

    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ecommerce-network


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ecommerce_phpmyadmin
    restart: always
    ports:
      - "8085:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root   
    depends_on:
      - db
    networks:
      - ecommerce-network

volumes:
  mysql_data:

networks:
  ecommerce-network:
